body.dark {
  background: #101914;
  color: #e5f2e8;
}

body.dark section h2 {
  color: #72d394;
}

body.dark .card {
  background: #1b2a21;
  color: #e5f2e8;
}

body.dark #quiz {
  background: #17271d;
}

body.dark input {
  background: #1b2a21;
  color: white;
  border-color: #3f7651;
}
